.color-container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1260px) {
  .color-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .color-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 760px) {
  .color-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .color-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .color-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
